:root {
  --bg-main: #fff;
  --color-main: #000;
}

body {
  background: var(--bg-main);
  color: var(--color-main);
  font-size: 16px;
}
a {
  text-decoration: none;
}
hr {
  margin: 0;
}
/* Navigation Section */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 10px;
  margin-top: 20px;
}

.logo {
  font-family: "Lobster Two", cursive;
  color: #000;
}
img {
  max-width: 100%;
  object-fit: cover;
}

/* Main Navigation */
.nav-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-inline: 30px;
  align-items: center;
  border-top: 1px solid white;
  background: var(--bg-main);
  padding-inline: 30px;
  margin: 0;
}
.nav-main li {
  display: inline-block;
}
.nav-main li a {
  font-size: 1.3rem;
  color: var(--color-main);
}
.nav-main li a:hover {
  color: rgb(24, 21, 21);
}
.nav-main li:first-child a > i {
  width: 30px;
  height: 30px;
}
.nav-main li:nth-child(3) a {
  font-size: 1.8rem;
  display: inline-block;
  transform: translateY(-22px);
}
.profile-nav {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0.1rem;
  border: 2px solid rgb(17, 206, 143);
}
.profile-nav:hover {
  transform: scale(1.1);
}

/* Status Section */
.status-container {
  height: fit-content;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.status-container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.story-container {
  transition: transform 0.3s;
}
.story-container:hover {
  transform: scale(0.9);
}
.story {
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.story a {
  width: 70px;
  height: 70px;
  position: relative;
  display: inline-block;
  margin-inline: auto;
}
.story a > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
}

.add-story {
  position: absolute;
  top: 70%;
  right: 0;
  color: var(--color-main);
  border-radius: 50%;
  font-size: 0.89rem;
  margin: 0;
  padding: 0;
}

.story-container:not(.story-container:first-child) > .story > a img {
  border: 2px solid;
  border-top-color: #405de6;
  border-right-color: #5851db;
  border-bottom-color: #c13584;
  border-left-color: #e1306c;
  padding: 0.3rem;
}
/* Posts */
.post-container-main {
  width: 50%;
  margin-inline: auto;
}
.post-container {
  border: 1px solid gray;
  border-top: none;

  margin: 0;
}
.post-nav {
  display: grid;
  grid-template-columns: 60px 4fr;
  grid-template-areas:
    "img title"
    "img subtitle";
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding: 10px;
}
.post-nav img {
  grid-area: img;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  margin-left: 10px;
}
.user-name {
  grid-area: title;
  font-weight: bolder;
}
.user-sub {
  grid-area: subtitle;
}
.post-img {
  width: 100%;
  /* height: 500px; */
}
.post-img img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}

/* FeedBAck */

@media screen and (orientation: portrait) {
  .post-container-main {
    width: 100%;
  }
}
